.tracks .track {
    background: #EEE;
    border-radius: 4px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 10px;
}

.tracks .track > button {
    margin-bottom: 0;
}