<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Score</title>
    <link rel="stylesheet" href="../static/normalize.css">
  <link rel="stylesheet" href="../static/skeleton.css">
  <link rel="stylesheet" href="../static/edit_score.css">
  <script src="../static/vexflow-debug.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
      <h1 class="text-xl ten columns">Add a new score</h1>
    </div>

    <div class="row">
      <div id="sheet-music">
        <div id="score" class="ten columns"></div>
      </div>
    </div>
  <form id="bar_form">
      <div class="row">
          <label for="time_sig">Time Signature</label>
          <input type="text" name="time_sig" id="time_sig"><br>
      </div>
      <div class="row">
        <label for="tempo">Tempo</label>
        <input type="text" name="tempo" id="tempo"><br>
      </div>
      <div class="row">
          <label for="num_bars">Number of Bars</label>
        <input type="text" name="num_bars" id="num_bars"><br><br>
      </div>

        <button>Submit</button>
  </form>

  <p id="errors"></p>
</div>

<div class="tracks container">
<div class="row">
  <h2 class="text-xl ten columns">Tracks</h2>
</div>
    <form id="track_form">
        <div class="row track" id="track_new">
            <div class="three columns">
                <input placeholder="New track name" type="text" name="name">
            </div>
            <div class="three columns offset-by-six">
                <button>Submit</button>
            </div>
        </div>
    </form>
    <div id="existing-tracks">
    </div>
</div>
</body>

<footer>
  <script>
      const score_id = {{score_id}}
  </script>
  <script src="../static/edit_score.js"></script>
</footer>
</html>