<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Score</title>
  <link rel="stylesheet" href="../static/edit_score.css">
  <script src="../static/vexflow-debug.js"></script>
</head>
<body class="full-screen flex-center">
  <h1 class="text-xl">Add a new score</h1>
  <div id="score"></div>
  <form id="form">
      Time Signature: <input type="text" name="time_sig"><br>
      Tempo: <input type="text" name="tempo"><br>
      Number of Bars: <input type="text" name="num_bars"><br><br>

      <div id = 'submit'>
        <button>Submit</button>
      </div>
  </form>

  <p id="errors"></p>
  <script>
      const score_id = {{score_id}}
  </script>
  <script src="../static/edit_score.js"></script>
</body>
</html>