<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Score</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/edit_score.css" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
<div class="container-fluid">
    <div class="col-8 offset-2">
        <div class="row">
            <div class="title">
                <h2>Edit score</h2>
            </div>
        </div>

        <div class="row">
            <div id="sheet_music">
            </div>
        </div>
        <form id="bar_form" style="margin: 30px 0px 30px 0px">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="time_sig" id="time_sig">
                <label for="time_sig">Time Signature</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="tempo" id="tempo">
                <label for="tempo">Tempo</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="num_bars" id="num_bars">
                <label for="num_bars">Number of Bars</label>
            </div>

            <button class="btn btn-outline-success btn-lg">Submit</button>
        </form>

        <p id="errors"></p>
    </div>
</div>

<div class="tracks container-fluid">
    <div class="col-8 offset-2">
        <div class="row">
            <div class="title">
                <h2>Tracks</h2>
            </div>
        </div>

        <form id="track_form">
            <div class="form-floating mb-3" id="track_new">
                <input type="text" class="form-control" name="name" id="new-track">
                <label for="new-track">Enter New Track Name</label>
            </div>
            <button class="btn btn-outline-success mb-3">Submit</button>
            <a class="btn btn-primary mb-3" href="{{ url_for('record_track') }}?id={{ score_id }}" role="button">Record tracks</a>
        </form>

        <div id="existing-tracks" style="margin-bottom: 30px">
        </div>
    </div>
</div>
</body>

<footer>
    <script>
        const score_id =
        {{score_id}}
    </script>
    <script src="../static/bootstrap.bundle.min.js"></script>
    <script src="../static/vexflow-debug.js"></script>
    <script src="../static/edit_score.js"></script>
</footer>
</html>