<!DOCTYPE html>
<html lang="en">

<head>
  <link href="../static/bootstrap.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello World</title>
</head>
<body>
  <div class="container-fluid">
    <div class="col-md-4 offset-md-4">
      <h1>Welcome to PlayTogether</h1>
      <h2>Would you like to</h2>
      <div class="row">
        <div class="col align-self-center">
          <a href="{{ url_for('new_score') }}" class="btn btn-outline-success btn-lg" tabindex="-1" role="button">
            Create new score
          </a>
        </div>
        <div class="col">
          <legend> Record your part </legend>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" placeholder="0">
            <label for="floatingInput">Enter ID</label>
          </div>
          <button type="submit" class="btn btn-outline-primary btn-lg">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
  <script src="../static/bootstrap.bundle.min.js"></script>
</body>

</html>
