<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/bootstrap.min.css" rel="stylesheet">
  <title>Record Track</title>
  <link rel="stylesheet" href="../../static/record_track.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.4/howler.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
  <script src="../static/vexflow-debug.js"></script>
</head>
<body>
<div>
  <div class="container-fluid">
    <div class="col-8 offset-2">
      <div id="choose-sampling-track">
        <h3> Choose Sampling Track </h3>
        <select id="sampling-track-dropdown" name="sampling-tracks"></select>
      </div>

      <div id="choose-backing-track">
        <h3> Choose Backing Track </h3>
        <form id="backing-track-options" name="backing-tracks"></form>
      </div>

      <div id="score-container">
        <div id="score"></div>
      </div>

      <div>
        <h4>Tempo</h4>
        <h5 id="tempo"></h5>
      </div>
      <div>
        <h4>Time Signature</h4>
        <h5 id="top_sig"></h5>
        <h5 id="bottom_sig"></h5>
      </div>
      <button id="record" class="btn btn-primary">record</button>
      <p id="errors"></p>
    </div>
  </div>
</div>
<script>
    const score_id =
        {{score_id}};
    const bars =
        {{bars | safe}};
</script>
<script src="../../static/record_track.js"></script>
<script src="../../static/metronome.js"></script>
<script src="../static/bootstrap.bundle.min.js"></script>
</body>
</html>
