<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Track</title>
    <link rel="stylesheet" href="../../static/record_track.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.4/howler.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
</head>
<body>
<div>
    <div id="choose-sampling-track">
        <h1> Choose Sampling Track </h1>
        <select id="sampling-track-dropdown" name="sampling-tracks"></select>
    </div>

    <div>
        <p>Tempo</p>
        <p id="tempo"></p>
    </div>
    <div>
        <p>Time Signature</p>
        <p id="top_sig"></p>
        <p id="bottom_sig"></p>
    </div>
    <a id="download">Download</a>
    <button id="stop">Stop</button>
    <button id="record">record</button>
    <div>metrognome</div>
    <button>redo</button>
    <div>
        <input onclick="play()" type="submit" value="submit">
    </div>
    <form id="form">
        <div id='submit'>
            <button>Submit</button>
        </div>
    </form>
</div>
<script>
    const score_id =
    {{score_id}}
    const track_id =
    {{track_id}}
    const bars =
    {{bars}}
    const bars_test = [
        {tempo: 100, top_sig: 4, bottom_sig: 4},
        {tempo: 100, top_sig: 4, bottom_sig: 4},
        {tempo: 120, top_sig: 5, bottom_sig: 2},
        {tempo: 200, top_sig: 8, bottom_sig: 10}
    ]

    let shouldStop = false;
    let stopped = false;
    const downloadLink = document.getElementById('download');
    const stopButton = document.getElementById('stop');

    stopButton.addEventListener('click', function () {
        shouldStop = true;
    });

    const handleSuccess = function (stream) {
        const options = {mimeType: 'audio/webm'};
        const recordedChunks = [];
        const mediaRecorder = new MediaRecorder(stream, options);

        mediaRecorder.addEventListener('dataavailable', function (e) {
            console.log("available");
            if (e.data.size > 0) {
                recordedChunks.push(e.data);
            }

            if (shouldStop === true && stopped === false) {
                mediaRecorder.stop();
                stopped = true;
            }
        });

        mediaRecorder.addEventListener('stop', function () {
            downloadLink.href = URL.createObjectURL(new Blob(recordedChunks));
            downloadLink.download = 'acetest.wav';
        });

        mediaRecorder.start(2000);
    };

    navigator.mediaDevices.getUserMedia({audio: true, video: false})
        .then(handleSuccess);
</script>
<script src="../../static/record_track.js"></script>
<script src="../../static/metronome.js"></script>
</body>
</html>
