<html>

<head>
  <script type="text/javascript">
    var tik = new Audio("{{ url_for('static', filename = 'tik.mp3') }}");
    var tok = new Audio("{{ url_for('static', filename = 'tok.mp3') }}");

    function play() {
      tik.play();
    }
  </script>
  <title>
    hello uwu hack
  </title>
</head>

<body onload="play()">
  <div>
    <div>
      <p>
        Time Signature
      </p>
      <p>
        4
      </p>
      <p>
        4
      </p>
    </div>
    <div>
      <p>
        Tempo
      </p>
      <p>
        100
      </p>
    </div>
    <div>
      metrognome
    </div>
    <div>
      recording?
    </div>
    <div>
      <input type="button" , value="redo">
    </div>
    <div>
      <input type="submit" , value="submit">
    </div>
  </div>
</body>


</html>
